
<div class="top-row pl-4 navbar navbar-dark ">


    <a class="navbar-brand" href=" " style=" color:floralwhite; font-size: 32px; text-align: center; font-family: Impact"> Autosoft Service</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>



<AuthorizeView>
    <Authorized>
        <a>
            <span aria-hidden="true" class="mdi:location-exit" style="color:white; text-align:center"> </span>

            <p style="color:ghostwhite; font-size:20px; font-family:Georgia, 'Times New Roman', Times, serif,cursive; text-align:center; margin-top: 20px">
                ¡¡LA SOLUCION A TU NEGOCIO!!
                @*Bienvenido, @context.User.Identity.Name!*@
            </p>
        </a>




    </Authorized>

    <NotAuthorized>
        @*<a href="Identity/Account/Register">Register</a>
            <a href="Identity/Account/Login">Log in</a>*@
    </NotAuthorized>
</AuthorizeView>




<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">


        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>

                @*Registros*@

                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="ToggleRegistrosMenu">
                        <span class="oi oi-plus" aria-hidden="true"></span> Registros
                    </NavLink>
                    @if (stateRegister)
                    {
                        <ul class="children">
                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/RUsuarios">
                                    <span aria-hidden="true" class="oi oi-person" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Usuarios</p>
                                </NavLink>
                            </li>
                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/RClientes">
                                    <span aria-hidden="true" class="oi oi-people" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Clientes</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/RProveedores">
                                    <span aria-hidden="true" class="oi oi-people" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Proveedores</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/RPedidos">
                                    <span aria-hidden="true" class="oi oi-cart" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Pedidos</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/Vehiculos">
                                    <span aria-hidden="true" class="oi oi-wrench" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Vehiculos</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/rArticulos">
                                    <span aria-hidden="true" class="oi oi-tags" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Articulos</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/rEntradaArticulos">
                                    <span aria-hidden="true" class="oi oi-clipboard" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Entrada de Articuos</p>
                                </NavLink>
                            </li>
                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/RFacturas">
                                    <span aria-hidden="true" class="oi oi-credit-card" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Facturas</p>
                                </NavLink>
                            </li>
                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/RPagos">
                                    <span aria-hidden="true" class="oi oi-dollar" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Pagos</p>
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>


                @*Consultas*@

                <li class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="ToggleConsultasMenu">
                        <span class="oi oi-folder" aria-hidden="true"></span> Consultas
                    </NavLink>
                    @if (stateConsultas)
                    {
                        <ul class="children">
                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/CUsuarios">
                                    <span aria-hidden="true" class="oi oi-person" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Usuarios</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/CClientes">
                                    <span aria-hidden="true" class="oi oi-person" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Clientes</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/CProveedores">
                                    <span aria-hidden="true" class="oi oi-people" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Proveedores</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/cPedidos">
                                    <span aria-hidden="true" class="oi oi-cart" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Pedidos</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/cVehiculos">
                                    <span aria-hidden="true" class="oi oi-wrench" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Vehiculos</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/CArticulos">
                                    <span aria-hidden="true" class="oi oi-tags" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Articulos</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/CEntradaArticulos">
                                    <span aria-hidden="true" class="oi oi-clipboard" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Entrada de Articulos.</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/cFacturas">
                                    <span aria-hidden="true" class="oi oi-credit-card" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Facturas</p>
                                </NavLink>
                            </li>

                            <li class="list-unstyled">
                                <NavLink class="nav-link" href="/cPagos">
                                    <span aria-hidden="true" class="oi oi-dollar" style="color:white"></span><p style="color:white; font-size:14px; vertical-align:central; margin-top: 18px">Pagos</p>
                                </NavLink>
                            </li>
                        </ul>
                    }
                </li>

            </Authorized>
        </AuthorizeView>





    </ul>
</div>



@code {



    private bool collapseNavMenu = true;

    private bool stateRegister = false;
    private bool stateConsultas = false;
    private bool stateReportes = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleRegistrosMenu()
    {
        stateRegister = !stateRegister;
        stateConsultas = false;
        stateReportes = false;
    }

    private void ToggleConsultasMenu()
    {
        stateConsultas = !stateConsultas;
        stateRegister = false;
        stateReportes = false;
    }

 
}
